<!-- templates/doctor_detail.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Doctor Details: </h1>
<table class="info-table">
        <tr>
            <th>Username:</th>
            <td>{{ object.user.username }}</td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td>{{ object.user.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ object.user.last_name}}</td>
        </tr>
</table>

<h2>Appointments:</h2>
<ul>
  {% for appt in appointments %}
  <li>{{ appt.date }} {{ appt.time }} - {{ appt.get_status_display }}</li>
  {% endfor %}
</ul>
{% endblock %}